.head{
    background-image:  url(../../assets/imgs/s.jpg);
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 30%;
    position: absolute;
}