<ion-menu [content]="content">
  <ion-header class="head">
    <h1 *ngIf='logged' style='position: absolute; top: 30px;font-weight: bold' id="nombre">{{nombre}}</h1>
    <p *ngIf='logged' style='position: absolute; top: 60px; font-weight: bold'>{{mail}}</p>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose style='font-weight: bold' ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>