.head{
    background-image:  url(../assets/imgs/F100007797.jpg);
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 20%;
    position: absolute;
    
}

#nombre{
    color: #ffffff;
}

p{
    color: #ffffff;
}