<ion-header >
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title color="light">Escaner QR</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row>
    <button ion-button color="primary" (click)="openScanner()" *ngIf='!camera'>Escanear</button>
  </ion-row>
 <ion-row>
  <button ion-button color="primary" (click)="ingresarManualmente()" *ngIf='!camera'>Ingresar manualmente</button>
 </ion-row> 
 <ion-row>
  <ion-col>
    <ion-item *ngIf="manual">
      <ion-label color="primary" floating>Ingresar QR</ion-label>
      <ion-input [(ngModel)]="qr"></ion-input>
     </ion-item>
  </ion-col>
  <ion-col>
    <ion-fab *ngIf="manual">
      <button ion-fab mini (click)="manualScan()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-fab>
  </ion-col>
</ion-row>
  <ion-row *ngIf="exist">
    <h1>Usted a escaneado a</h1>
  </ion-row>
  <ion-row *ngIf="exist"> 
    <img class="circle-pic" src="../../assets/imgs/peon.jpg">
  </ion-row>
  <ion-row *ngIf="exist">
    <h3>Juan Perez</h3>
  </ion-row>
  <ion-row *ngIf="exist">
    <h3>{{hora}}</h3>
  </ion-row>
  <ion-row *ngIf="exist">
    <h3>{{qr}}</h3>
  </ion-row>
  <ion-row *ngIf="exist">
    <ion-col>
      <button ion-button full color="secondary">Ingreso</button>
    </ion-col>
    <ion-col>
      <button ion-button full color="danger">Egreso</button>
    </ion-col>
  </ion-row>
</ion-content>
