<ion-header >
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title color="light">Escaner QR</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <button *ngIf='camera' style=' height: 55px; font-weight: bold; font-size: 18px' ion-button full color="primary" (click)="openScanner()">Escanear</button>
  </ion-row>
 <ion-row>
  <button ion-button *ngIf='camera' full color="primary" style=' height: 55px; font-weight: bold; font-size: 18px' (click)="ingresarManualmente()">Ingresar manualmente</button>
 </ion-row> 
 <ion-row>
  <ion-item *ngIf='camera'>
    <ion-label>Flash</ion-label>
    <ion-toggle [(ngModel)]="flash"></ion-toggle>
  </ion-item>
 </ion-row>
 <ion-row>
  <ion-col>
    <ion-item *ngIf="manual">
      <ion-label color="primary" floating>Ingresar QR</ion-label>
      <ion-input [(ngModel)]="qr"></ion-input>
     </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <button ion-button full style=' height: 55px; font-weight: bold; font-size: 18px' *ngIf="manual" (click)='manualScan()'>OK</button>
  </ion-col>
</ion-row>

