<ion-header>
  <ion-navbar color='dark'>
    <ion-title color="light">Seleccionar Personas</ion-title>
  </ion-navbar>
    <ion-toolbar>
      <ion-segment color="secondary" [(ngModel)]="personasFilter" (ionChange)="filterPersonas($event)">
        <ion-segment-button value="cuadrilla">CUADRILLA</ion-segment-button>
        <ion-segment-button value="noAsignados">NO ASIGNADOS</ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf='filter'>
    <ion-item [class.highlight]="c.selected" *ngFor='let c of list' (click)='itemTapped($event, c)'>{{c.nombre}}</ion-item>
  </ion-list>
  <ion-list *ngIf='!filter'>
    <ion-item [class.highlight]="item.selected" *ngFor='let item of list' (click)='itemTapped($event, item)'>{{item.nombre}}</ion-item>
  </ion-list>
  <ion-list *ngIf='noSeleccionables'>
    <ion-item color='secondary'>NO SELECCIONABLES</ion-item>
    <ion-item *ngFor='let c of noSeleccionables' color='#FFFFFF'>{{c.nombre}}</ion-item>
  </ion-list>
 
    <button ion-button color='primary' (click)='confirmarTraslado()' round>Confirmar Traslado</button>
</ion-content>